body {

    /*background:papayaWhip*/
    background:limegreen;
    font-family: "'Orbitron'", bold, bold, "'Orbitron'";
}
body {
background: linear-gradient(160deg, #1a1a1a, #2e2e2e, #4d4d4d);
}

div.side-by-side {
    display: flex;

}

img {
    width: 20%;
    max-width: 500px;

}
.featureBlock {
    background-color: #9CAF88;
    font-size: smaller;
}
p {
    color: pink;
}

h1 {
    color: pink;
}

h2 {
    color: pink;
}
body {
    border: 5px solid black;
    margin: 20px;
    padding: 10px;
}



figure.attendance-chart {
    text-align: center;
    margin: 20px auto;
    max-width: 600px;
}
figure.attendance-chart img {
    width: 80%;
    max-width: 800px;
}




